# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Environment variables
*.env

# Build / distribution
build/
dist/
*.egg-info/
